.pageContainer {
    main {
        width: 90%;
        display: flex;
        max-width: 1400px;
        margin: 3.125rem auto;
        border: 1px solid #bfbfbf;        
        justify-content: space-between;
    }

    .pageContent {
        padding: 5.5rem 6.5rem;
    }

    .pageContent {
        h1 {
            font-size: 2.85rem;
            font-weight: 800;
            font-style: normal;
            margin-bottom: 1.75rem;
        }
    
        p {
            font-size: 1.1rem;
            font-weight: 400;
            font-style: normal;
            line-height: 1.5rem;
            margin-bottom: 3rem;
        }
    }

    .profilePic {
        padding: 5.5rem 6.5rem;
        border-left: 1px solid #bfbfbf;
    }
    
}