$font-stack: 'Open Sans', Helvetica, sans-serif;
$blue: #5693b3;

//navigation
$font-size-logo: 2.65rem;
$font-size-logo-sub: 1.55rem;
$font-size-nav: 1rem;

//home
$font-size-medium: 1.85rem;
$font-size-medium-big: 1.75rem;
$new-area-margin : 3.125rem;