@import 'variables';
@import 'reset';
@import 'navigation';
@import 'homepage';
@import 'posts';
@import 'pages';

//General

body {
    font-family: $font-stack;
    color: #222;
}

.footer {
    width: 100%;
    padding: 1.5rem 0 4.5rem;
    text-align: center;
}

.footer {
    p {
        color: #cbcbcb;
    }
    a {
        color: #cbcbcb;
        text-decoration: none;
    }
    a:hover {
        color: $blue;
    }
}

@media only screen and (max-width: 800px) {
    .footer {
        font-size: 0.9rem;
        padding: 0 0 1.5rem;
    }
}