@import '_variables';
@import '_reset';
@import '_navigation';
@import '_homepage';
@import '_posts';
@import '_pages';

//General

body {
    font-family: $font-stack;
    color: #222;
}

.footer {
    width: 100%;
    padding: 1.5rem 0 4.5rem;
    text-align: center;
}

.footer {
    p {
        color: #cbcbcb;
    }
}

@media only screen and (max-width: 800px) {
    .footer {
        font-size: 0.9rem;
        padding: 0 0 1.5rem;
    }
}